@import '../../styles/variables';
@import '../../styles/mixins';

.original {
    @include orangeDark;
    @include borderSectionDark;
    
    margin: $offset-basic * 2;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px - $offset-basic * 2;
}

.modified {
    @extend .original;
    border-radius: 50%;
}