@import '../../styles/variables';
@import '../../styles/mixins';

div.fix {
    position: sticky;
    padding: $offset-basic * 2;
    margin: auto;
    top: 0;
    border: $size-default-border * 2 solid $light;
    overflow-y: auto;
    border-radius: $border-radius-default;

}

.parent {
    padding: $offset-basic * 2;
    border: $size-default-border * 4 solid $orange;
    border-radius: $border-radius-default;
    background-color: $green;
    text-align: center;
}


.child {
    margin: $offset-basic * 4;
    padding: $offset-basic * 4;
    height: $height-demo-child;
    border: $size-default-border * 2 solid $light;
    border-radius: $border-radius-default;
    background-color: $orange;
}