@import '../../styles/variables';

.demo__selectors__container {

    & header {
        color: $light;

        & b {
            text-transform: uppercase;
        }
    }
}

.demo__selectors__main {
    display: block;
    border: $size-default-border * 2 solid $orange;
    border-radius: $border-radius-default;
    margin: $offset-basic * 4;
    padding: $offset-basic;
    background-color: $green;

    & li {
        display: block;
        margin: $offset-basic;
        padding: $offset-basic;
        border-radius: $border-radius-default;
        border: $size-default-border * 2 solid $dark;

        & p,
        a {
            display: inline-block;
            margin: $offset-basic;
            padding: $offset-basic;
            border-radius: $border-radius-default;
            border: $size-default-border * 2 solid $orange;
        }
    }

}

.demo__selectors__externalP {
    color: $orange;
}

.demo__description {
    margin: $offset-basic * 2 $offset-basic;
    padding: $offset-basic;

    border: $size-default-border solid $color-border-section;
    border-radius: $border-radius-section;
}