@import '../../styles/variables';
@import '../../styles/mixins';

.demo__container__sticked {
    @include borderDefault;
    @include sectionOffset;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.demo__description {
    @include borderDefault;
}

.demo__settings {
    @include baseYOffset;
    border-radius: $border-radius-default;
}

.demo__parent {
    @include greenDark;
    @include borderSectionOrange;
    @include sectionOffset;
}

.demo__child {
    @include orangeDark;
    @include borderSectionDark;
    @include maxOffset;
    height: auto;
}

//only in selectors
.demo__selectors__main {
    @include greenDark;
    @include borderSectionOrange;
    @include maxOffset;
    display: block;

    & li {
        display: block;
        @include borderSectionDark;
        @include minOffset;

        & p,
        a {
            display: inline-block;
            @include borderSectionOrange;
            @include minOffset;
        }
    }
}

.demo__selectors__externalP {
    color: $orange;
}

//only in animation
.demo__parent__positioned {
    @extend .demo__parent;
    position: relative;
}

.demo__child__positioned {
    @extend .demo__child;
    position: relative;
}

.button {
    @include buttonBase;
    @include buttonOffset;

    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.15s linear;
        box-shadow: 2px 2px 5px $orange, -2px -2px 5px $orange;
    }
}

// image - gradient only classes

.demo__settings__gradient {
    width: calc(100% - $offset-basic * 2);
    height: 120px;
    border-radius: $border-radius-section;

    & input {
        width: 100%;
    }
}

.block__gradient {
    @include borderDefault;
    @include maxOffset;

    height: 360px;
}

.form__gradient {
    @include flexCenter;
    @include baseOffset;
}

// js - array classes
.demo__array__original {
    @include orangeDark;
    @include borderSectionLight;
    @include baseOffset;

    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px - $offset-basic * 2;
}

.demo__array__modified {
    @extend .demo__array__original;
    border-radius: 50%;
}

.demo__child__array {
    @extend .demo__child;
    @include borderDefault;
    @include baseOffset;
}

.demo__child__flexCentered {
    @include flexCenter;
}