@import '../../styles/variables';

.main {
    display: block;
    border: $size-default-border * 2 solid $orange;
    border-radius: $border-radius-default;
    margin: $offset-basic;
    padding: $offset-basic;
    background-color: $green;

    & li {
        display: block;
        margin: $offset-basic;
        padding: $offset-basic;
        border-radius: $border-radius-default;
        border: $size-default-border * 2 solid $dark;

        & p,
        a {
            display: inline-block;
            margin: $offset-basic;
            padding: $offset-basic;
            border-radius: $border-radius-default;
            border: $size-default-border * 2 solid $orange;
        }
    }

}

.additionP {
    color: $orange;
}

.fix {
    border-radius: $border-radius-default;
    border: $size-default-border * 2 solid $light;

    & header {
        color: $light;

        & b {
            text-transform: uppercase;
        }
    }
}