@import '../../styles/variables';
@import '../../styles/mixins';

.fix{
    position: fixed;
    margin: auto;
    width: 49%;
    border: $size-default-border * 2 solid $light;

    & p{
        color: $light;
    }
}

.parent {
    padding: $offset-basic;
    border: $size-default-border * 4 solid $orange;
    border-radius: $border-radius-default;
    background-color: $green;
}


.child {
    margin: $offset-basic * 4;
    padding: $offset-basic * 4;
    height: $height-demo-child;
    border: $size-default-border * 2 solid $light;
    border-radius: $border-radius-default;
    background-color: $orange;
}