@import '../../styles/variables';
@import '../../styles/mixins';

.demo__container__sticked {
    position: sticky;
    margin: $offset-basic *2 auto;
    padding: $offset-basic * 4;
    top: 0;
    overflow-y: auto;
    border: $size-default-border solid $color-border-section;
    border-radius: $border-radius-section;
}

.demo__description {
    // margin: $offset-basic;
    // padding: $offset-basic;

    border: $size-default-border solid $color-border-section;
    border-radius: $border-radius-section;
}

.demo__parent {
    position: relative; //only in animation

    margin: $offset-basic * 2 auto;
    padding: $offset-basic * 2;
    border: $size-default-border * 2 solid $orange;
    border-radius: $border-radius-default;
    background-color: $green;
}

.demo__child {
    position: relative; //only in animation

    margin: $offset-basic * 4;
    padding: $offset-basic * 4;
    height: auto;
    border: $size-default-border * 2 solid $light;
    border-radius: $border-radius-default;
    background-color: $orange;
}

// .empty {
//     @extend .fix;
//     @include buttonBase;
//     display: block;
// }

.button {
    @include buttonBase;

    z-index: 100;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.15s linear;
        box-shadow: 2px 2px 5px $orange, -2px -2px 5px $orange;
    }
}