@import "../../styles/mixins.scss";

.style1 {
    .intro {
        @include select;
    }
}

.style2 {
    .class1.class2 {
        @include select;
    }
}

.style3 {
    .class1 .class2 {
        @include select;
    }
}

.style4 {
    #firstname {
        @include select;
    }
}

.style5 {
    * {
        @include select;
    }
}

.style6 {
    p {
        @include select;
    }
}

.style7 {
    p.intro {
        @include select;
    }
}

.style8 {

    div,
    p {
        @include select;
    }
}

.style9 {
    div p {
        @include select;
    }
}

.style10 {
    div>p {
        @include select;
    }
}

.style11 {
    div+p {
        @include select;
    }
}

.style12 {
    span~p {
        @include select;
    }
}

.style26 {
    p:empty {
        @include select;
        width: 100px;
        height: 20px;
    }
}

.style28 {
    p:first-child {
        @include select;
    }
}

.style31 {
    p:first-of-type {
        @include select;
    }
}

.style38 {
    p:last-child {
        @include select;
    }
}

.style39 {
    p:last-of-type {
        width: 200px;
        height: 30px;
        @include select;
    }
}

.style42 {
    :not(p) {
        @include select;
    }
}

.style43 {
    p:nth-child(2) {
        @include select;
    }
}

.style44 {
    p:nth-last-child(2) {
        @include select;
    }
}

.style45 {
    p:nth-last-of-type(2) {
        @include select;
    }
}

.style46 {
    p:nth-of-type(2) {
        @include select;
    }
}

.style47 {
    p:only-of-type {
        @include select;
    }
}

.style48 {
    p:only-child {
        @include select;
    }
}

.style13 {
    [href] {
        @include select;
    }
}

.style14 {
    [href='#00'] {
        @include select;
    }
}

.style15 {
    [title~='flower'] {
        @include select;
    }
}

.style16 {
    [lang|=en] {
        @include select;
    }
}

.style17 {
    a[href^="#0"] {
        @include select;
    }
}

.style18 {
    a[href$=".pdf"] {
        @include select;
    }
}

.style19 {
    a[href*="w3schools"] {
        @include select;
    }
}

.style20 {
    a:active {
        @include select;
    }
}

.style21 {
    p::after {
        @include select;
        content: "X";
    }
}

.style22 {
    p::before {
        @include select;
        content: "X";
    }
}

.style23 {
    input:checked {
        @include select;
    }
}

.style24 {
    input:default {
        @include select;
    }
}

.style25 {
    input:disabled {
        @include select;
    }
}

.style27 {
    input:enabled {
        @include select;
    }
}

.style29 {
    p::first-letter {
        @include select;
    }
}

.style30 {
    p::first-line {
        @include select;
    }
}

.style32 {
    input:focus {
        @include select;
    }
}

.style33 {
    a:hover {
        @include select;
    }
}

.style34 {
    input:in-range {
        @include select;
    }
}

.style35 {
    input:indeterminate {
        @include select;
    }
}

.style36 {
    input:invalid {
        @include select;
    }
}

.style37 {
    p:lang(en) {
        @include select;
    }
}

.style40 {
    a:link {
        @include select;
    }
}

.style41 {
    ::marker {
        @include select;
    }
}

.style49 {
    input:optional {
        @include select;
    }
}

.style50 {
    input:out-of-range {
        @include select;
    }
}

.style51 {
    input::placeholder {
        @include select;
    }
}

.style52 {
    input:read-only {
        @include select;
    }
}

.style53 {
    input:read-write {
        @include select;
    }
}

.style54 {
    input:required {
        @include select;
    }
}

.style55 {
    :root {
        @include select;
    }
}

.style56 {
    ::selection {
        @include select;
    }
}

.style57 {
    #news:target {
        @include select;
    }
}

.style58 {
    input:valid {
        @include select;
    }
}

.style59 {
    a:visited {
        @include select;
    }
}

.style60 {
    :fullscreen {
        @include select;
    }
}