@import './variables';
@import './mixins.scss';

html,
body {
	margin: 0;
	padding: 0;
	background-color: $dark;
	font-size: $font-size;
	font-family: $font-text;

	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}

.container {
	@include baseOffset;
	flex: 1 0 auto;
	text-align: center;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}

.sidebar {
	@include baseOffset;
	width: 30%;
}

.demo {
	@include baseOffset;
	width: 60%;
}

.header {
	flex-shrink: 0;
}

.preloader {
	@include baseOffset;
	width: 100%;
}

.footer {
	margin-top: auto;
	flex-shrink: 0;
	text-align: center;
}