@import './variables';
@import './mixins.scss';

html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    @include baseOffset;
    // margin: auto;
    text-align: center;
    display: grid;
    /* height: 97vh; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-gap: $offset-basic;
    // background-color: $black;
    padding: 10px;
}

.sidebar {
    @include baseOffset;
    grid-area: 2 / 1 / 3 / 3;
    background-color: $color-sidebar-background;
    // color: $color-text;
}

.demo {
    @include baseOffset;
    grid-area: 2 / 3 / 3 / 7;
    background-color: $color-demo-background;
    // color: $color-title-text; 
}

.preloader {
    @include baseOffset;
    grid-area: 2 / 1 / 5 / 7;
    background-color: $color-preloader-background;
    color: black;
}

// Сначала положение элемента относительно других: position, left/right/top/bottom, float, clear, z-index.
// Затем размеры и отступы: width, height, margin, padding…
// Рамка border, она частично относится к размерам.
// Общее оформление содержимого: list-style-type, overflow…
// Цветовое и стилевое оформление: background, color, font…