@import './variables';

@mixin baseFont {
    margin: 0;

    font-weight: 500;
    font-size: $font-size;
    font-family: $font-text;
    font-style: normal;
}

@mixin baseOffset {
  margin: $offset-section-desktop;
  padding: $offset-section-desktop;
  // margin-right: $offset-section-desktop;
  // margin-bottom: $offset-section-desktop; 
  // padding-right: $offset-section-desktop;
  // padding-bottom: $offset-section-desktop;
}

/******************** Media Queries ***********************/

// Small devices
@mixin mobile {
    @media ( min-width: #{$screen-mobile-width} ) {
      @content;
    }
  }
  
  // Large devices
  @mixin tablet {
    @media ( min-width: #{$screen-tablet-width} ) {
      @content;
    }
  }
  
  // Extra large devices
  @mixin desktop {
    @media ( min-width: #{$screen-desktop-width} ) {
      @content;
    }
  }