@import './variables';

@mixin baseFont {
  margin: 0;

  font-weight: 500;
  font-size: $font-size;
  font-family: $font-text;
  font-style: normal;
}

@mixin baseOffset {
  margin: $offset-section-desktop;
  padding: $offset-section-desktop;
}

@mixin buttonOffset {
  padding: $offset-between-elements-desktop * 0.5 $offset-between-elements-desktop;
}

@mixin elementOffset {
  margin: $offset-element-content-desktop * 0.5 $offset-element-content-desktop;
  padding: $offset-element-content-desktop * 0.5 $offset-element-content-desktop;
}

@mixin buttonBase {
  @include elementOffset;

  color: $color-button;
  cursor: pointer;
  border: none;
  border-radius: $border-radius-default;
  background-color: $color-button-background;

  // &:hover {
  //   transform: scale(1.1);
  //   transition: transform 0.15s linear;
  // }

}

@mixin select {
  color: $light;
  background-color: $orange;
  font-weight: bold;
}
/******************** Media Queries ***********************/

// Small devices
@mixin mobile {
  @media (min-width: #{$screen-mobile-width}) {
    @content;
  }
}

// Large devices
@mixin tablet {
  @media (min-width: #{$screen-tablet-width}) {
    @content;
  }
}

// Extra large devices
@mixin desktop {
  @media (min-width: #{$screen-desktop-width}) {
    @content;
  }
}