/********************* TYPOGRAPHY *******************************************/
$font-size-min: 10px;
$font-size-max: 16px;
$font-size: 14px;

$font-titles: 'Roboto', Arial, sans-serif;
$font-text: 'Montserrat', sans-serif;

$font-size-sectionTitle: 2rem;
$font-size-subtitle: 1.3rem;
$line-height-subtitle: 1.8rem;
$font-size-plainText: 1.2rem;
$line-height-plainText: 1.7rem;

/********************* Colors  ******************************************/
//main colors setup

$color-white: #ffffff;
$color-black: #000000;
$color-darkblue: #25395C;
$color-blue: #1C67D2;
$color-lightblue: #2787EA;
$color-gray: #A4B0FF;
$color-pink: #ff00ff;
$color-orange: #EA7166;
$color-orange-light: #FCA78A;

// text
$color-text: $color-black;
$color-text-title: $color-orange;
// $color-text-active: #00ff00;
// border
$color-border-nav: $color-orange-light;
$color-border-parent: $color-black;
$color-border-child: $color-white;
$color-border-section: $color-black;
//background
$color-section-nav: $color-gray;
$color-section-settings: $color-darkblue;
$color-section-demo: $color-darkblue;

// $color-background: #5511ff; //main background should be gradient
$color-button-main: $color-lightblue;
$color-button-main-active: $color-orange;
$color-button-option: $color-blue;
$color-button-option-active: $color-orange;

/********************* Screen Sizes ******************************************/

// Width
$screen-mobile-width: 400px;
$screen-tablet-width: 700px;
$screen-desktop-width: 1200px;

// Height
$screen-mobile-height: 640px;
$screen-tablet-height: 720px;
$screen-desktop-height: 980px;

// Colors Used: #25395C, #2787EA, #1C67D2, #A4B0FF, #EA7166, #FCA78A

// Colors Used: #F9F9F9, #95060F, #1F563E, #BEC1C2

// Colors Used: #AFD5EB, #F04520, #EF869C, #1073E5

// Colors Used: #FCFCF6, #111111, #FF460F, #7EAFFF, #F68CB9

// Colors Used: #1A2EC6, #3044CA, #4C6AD6, #F7250E, #FA4F40, #FA5F52

