@import '../../styles/variables';

.main {
    ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        list-style-type: none;
        align-items: baseline;
        margin: 0;
        padding: 0;

        li {
            margin: 4px auto;
            text-align: center;
        }
    }
}

.icon {
    height: 64px;
}

.icon:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
}

.description {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: $orange;
}