@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {

    ul {
        @include flexEvenly;
        list-style-type: none;

        li {
            @include buttonOffsetNav;
            @include lightDark;
            @include subTitleFont;

            display: block;
            border-radius: $border-radius-section;
            cursor: pointer;
        }

        li:hover {
            @include orangeLight;
            transform: scale(1.2);
            transition: all 0.2s linear;
        }
    }
}