@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar__mainBtn {
    margin: 5px;
    padding: 3px;
    border: 3px solid black;
}

.sidebar__mainBtn__list {
    margin: 5px;
    padding: 3px;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sidebar__mainBtn {
    margin: 5px;
    width: auto;
    padding: 3px;
    background-color: $color-button-main;
}

.sidebar__mainBtn__active {
   @extend .sidebar__mainBtn;
   background-color: $color-button-main-active;
}