@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar__mainBtn_group {
    margin: $offset-basic;
    padding: $offset-basic;
    border: 3px solid black;
}

.sidebar__mainBtn__list {
    margin: $offset-basic;
    padding: $offset-basic * 2;
    // border: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sidebar__mainBtn {
    padding: $offset-basic * 2;
    border: none;
    background-color: $color-button-main-background;
    border-radius: $border-radius-default;
    text-transform: uppercase;
}

.sidebar__mainBtn__active {
    @extend .sidebar__mainBtn;
    background-color: $color-button-main-active-background;
}

.sidebar__mainBtn__reset {
    @extend .sidebar__mainBtn;
    background-color: $color-button-main-reset-background;
}