@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar__mainBtn_group {
    
    margin: $offset-basic *2 auto;
    // padding: $offset-basic * 4;
    // @include elementOffset;
    // border: $size-default-border solid $color-border-section;
    // border-radius: $border-radius-section;
}

.sidebar__mainBtn__list {
    // @include elementOffset;
    padding: $offset-basic * 2;

    border: $size-default-border solid $color-border-section;
    border-radius: $border-radius-section;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sidebar__mainBtn {
    @include buttonBase;

    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        transform: scale(1.1);
        transition: transform 0.15s linear;
    }

}

.sidebar__mainBtn__active {
    @extend .sidebar__mainBtn;
    background-color: $color-button-active-background;

    &:hover {
        cursor: no-drop;
        color: $color-button-hover;
    }
}

.sidebar__mainBtn__reset {
    @extend .sidebar__mainBtn;
    background-color: $color-button-reset-background;
}