@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar__optionBlock {
    margin: $offset-element-content-desktop * 0.5 0;
}

.sidebar__optionBlock__btnList {
    @include elementOffset;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    border: $size-default-border solid $color-border-section;
    border-radius: $border-radius-section;
}

.sidebar__optionItem__btn {
    @include buttonBase;

    &:hover {
        box-shadow: 2px 2px 5px $orange, -2px -2px 5px $orange;
    }
}

.sidebar__optionItem__btn__active {
    @extend .sidebar__optionItem__btn;
    background-color: $color-button-active-background;
    color: $color-button-hover;

    &:hover {
        box-shadow: 2px 2px 5px $green, -2px -2px 5px $green;
    }
}