@import '../../styles/variables';
@import '../../styles/mixins';

.main__sidebar {
    border: 3px solid $color-border-section;
}

.sidebar__header {
    margin: 5px;
    font-weight: bold;
    color: $color-text-title;
}

.sidebar__mainBtn {
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebar__optionItem__btn {
    width: auto;
    padding: 3px;
    background-color: $color-button-option;
}

.sidebar__optionItem__btn__active {
    width: auto;
    padding: 3px;
    background-color:$color-button-option-active;
}