@import '../../styles/variables';
@import '../../styles/mixins';

.mainBtn__list {
    @include flexEvenly;
    @include baseYOffset;
    @include borderDefault;
		flex-wrap: wrap;
}

.mainBtn {
    @include buttonBase;
    @include buttonOffsetMain;

    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        transform: scale(1.2);
        transition: transform 0.2s linear;
    }
}

.mainBtn__active {
    @extend .mainBtn;
    @include buttonActive;
}

.mainBtn__reset {
    @extend .mainBtn;
    @include lightDark;
}

.optionBlock__list {
    @include borderDefault;
    padding: $offset-basic * 2;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    justify-self: center;
}

.optionItem__btn {
    @include buttonOffset;
    @include buttonBase;
    @include greenDark;

    &:hover {
        box-shadow: 2px 2px 5px $orange, -2px -2px 5px $orange;
    }
}

.optionItem__btn__active {
    @include buttonOffset;
    @include buttonBase;
    @include orangeLight;

    &:hover {
        box-shadow: 2px 2px 5px $green, -2px -2px 5px $green;
    }
}