@import '../../styles/variables';
@import '../../styles/mixins';

.sectionTitle {
    text-transform: uppercase;
    margin: $offset-element-content-desktop;
    font-weight: bold;
    color: $color-title-text;
}

.subTitle {
    color: $color-title-text;
    padding: $offset-element-content-desktop;
    margin: $offset-element-content-desktop;
}

.subTitleUpper {
    @extend .subTitle;
    text-transform: uppercase;
}