@import '../../styles/variables';
@import '../../styles/mixins';

.sectionTitle {
    @include sectionFont;

    margin: $offset-basic * 2;
    text-transform: uppercase;
    color: $light;
}

.subTitle {
    @include sectionFont;
    @include baseOffset;
    color: $light;
}

.subTitleUpper {
    @extend .subTitle;
    text-transform: uppercase;
}

.subTitleUpper__dark {
    @extend .subTitleUpper;
    color: $dark;
}

.strong {
    font-weight: bolder;
    color: $light;
}

.highlighted {
    color: $orange;
}